<div class="container">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <p class="lead">This is a project for rapid experimentation using light-weight HTML interfaces</p>
</div>
