lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs

node_modules
npm-debug.log

.DS_Store
*-temp

lib/assets/images
lib/assets/javascripts
lib/assets/stylesheets
lib/views/layouts/govuk_template.html
