<div class="col-sm-12 col-md-4">
  <a href="/projects/{{ _id }}" class="thumbnail">
    <article class="caption">
      <header>
        <h3>{{ title }}</h3>
        <p>{{ markdown }}</p>
        <p>Mattonfoot</p>
        <p>3 hours ago</p>
      </header>
      <section class="row">
        <div class="col-md-2">
          <p>7</p>
          <p>Supporters</p>
        </div>
        <div class="col-md-2">
          <p>28</p>
          <p>Days left</p>
        </div>
      </section>
      <section>
        <p><strong>State</strong> Gathering support</p>
      </section>
    </article>
  </a>
</div>
