<article class="thumbnail project-tile">
  <div class="caption">
    <section class="project-tile-support">
      <div class="row">
        <div class="col-sm-6 supporters">
          <p class="count">{{ votes }}</p>
          <p>Supporters</p>
        </div>
        <div class="col-sm-6 deadline">
          <p class="count">{{ expiring }}</p>
          <p>Days left</p>
        </div>
      </div>
    </section>
    <section class="project-tile-status">
      <p>Status: <span class="status">{{ status }}</span></p>
    </section>
    <section class="project-tile-actions">
      <button class="btn btn-primary btn-block">Support</button>
      <button class="btn btn-default btn-block">Follow</button>
    </section>
  </div>
</article>
