
<button name="action" value="previous" type="submit" class="btn btn-default">Back</button>
<button name="action" value="save" type="submit" class="btn btn-primary">Save</button>
<button name="action" value="continue" type="submit" class="btn btn-primary">Save &amp; Continue</button>
<button name="action" value="delete" type="submit" class="btn btn-link">Delete</button>
<a href="/projects/{{{ project.id }}}/preview" target="preview" class="btn btn-default">Preview</a>
