<div class="container">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <form method="post" action="/projects/{{{ project.id }}}/draft">
    <div class="form-group">
      <label for="title">Project Title</label>
      <input type="text" class="form-control" name="title" id="title" placeholder="Project title...">
    </div>
    <div class="form-group">
      <label for="markdown">Description</label>
      <textarea class="form-control" name="markdown" id="markdown" placeholder="Descriptive summary..."></textarea>
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <input type="text" class="form-control" name="tags" id="tags" placeholder="Comma seperated tag list...">
    </div>

    {{> projectactions }}
  </form>
</div>
