<div class="container">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <p class="lead">This is a bootstrap project for rapid experimentation on Multichain blockchains using light-weight HTML interfaces</p>
</div>

<div class="container">
  <h2>This will be a list of projects</h2>

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <a href="/projects/project_id" class="thumbnail">
        <article class="caption">
          <header>
            <h3>Example project</h3>
            <p>The project summary that explains in slightly more detail what its all about.</p>
            <p>Mattonfoot</p>
            <p>3 hours ago<p>
          </header>
          <section class="row">
            <div class="col-md-2">
              <p>7</p>
              <p>Supporters</p>
            </div>
            <div class="col-md-2">
              <p>28</p>
              <p>Days left</p>
            </div>
          </section>
          <section>
            <p><strong>State</strong> Gathering support</p>
          </section>
        </article>
      </a>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <p>You must agree to adhear to the guidlines and houserules if you create a new project
    <a href="./draft" class="btn btn-default">I agree</a></p>
</div>
