<div class="container">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <article>
    <header>
      <h2>Project title goes here</h2>

      <p><strong>Status:</strong> project ststus goes here</p>
    </header>

    <p>Some questions to help classify the project:</p>
    <div class="alert alert-info">These are also asked when supporting a product to validate the original thoughts.</div>
    <ol>
      <li>Is this a technology that looks interesting?</li>
      <li>Is this an interesting way to use a piece of technology?</li>
      <li>What is the licensing asscoiated with the technoloiges?</li>
      <li>Is the technology in and production ready state, beta or alpha state or theoretical?</li>
      <li>Who do you believe would benefit from this research?</li>
      <li>How complex would you consider this proposition?</li>
    </ol>
  </article>

  <form method="post" action="/projects/{{{ project._id }}}/survey">
    {{> projectactions }}
  </form>
</div>
