<main id="content" class="group" role="main">
  <header class="page-header">
    <h1>Tech innovation and research</h1>
  </header>

  <h2>Discover</h2>

  <div class="row">
    <div class="search-results">
      <div class="row grid3">
        {{#each projects as |project|}}
        <div class="grid-item">
          {{> projectTile project }}
        </div>
        {{/each}}
      </div>
    </div>
    <div class="search-facets">
      <h3>Filter by</h3>
      <h4>Tags</h4>
      <ul class="nav nav-list">
        <li><a href="/search?status=published">Published</a></li>
        <li><a href="/search?status=triaged">Triaged</a></li>
        <li><a href="/search?status=future">Future</a></li>
        <li><a href="/search?status=wip">Work in progress</a></li>
        <li><a href="/search?status=paused">Paused</a></li>
        <li><a href="/search?status=candidates%20for%20lab">candidates for Lab</a></li>
        <li><a href="/search?status=consultation%20only">Consultation only</a></li>
      </ul>
    </div>
  </div>
</div>
